{% extends "template.html" %}
{% block conteudo %}
<a class="btn btn-primary" hidden href ="{{ url_for('login', proxima=url_for('index')) }}"> Login </a>
     <div class="float-right">
         <a>Logado como: {{nickname}}</a>
         <a  class="btn btn-danger" href ="{{ url_for('logout') }}"> Logout </a>
     </div>
<div>
            <form class="" onsubmit="getLocation()" action="{{ url_for(action) }}" method="post" enctype="multipart/form-data">
                <fieldset>
                      {{ form.csrf_token() }}
                    <input type="hidden" name="userNickname" value="{{ user.nickname }}">
                    <input type="hidden" name="initialAddress" value="Dummy Address">
                    <input type="hidden" id="latitude" name="latitude" >
                    <input type="hidden" id="longitude" name="longitude" >
                    <input type="hidden" id="geoLocationError" name="geoLocationError" >



                    <div class="dropdown">
                         <label for="cars"> Escolha um carro:</label>
                         <select name="cars" id="cars" onchange="{{url_for('indexCar')}}">
                              {% for car in cars %}
                             <option value={{car.plate}} > {{car.name}}</option>
                        {% endfor %}
                         </select>
                    </div>
                    <a class="buttons" >
                        {{form.updateTrip(class = "btn btn-primary")}}
                    </a>
                </fieldset>
            </form>
        </div>
<div>
    <a hidden class="btn btn-primary" href ="{{ url_for('searchTrip') }}" > Buscar Viagem </a>
</div>



        <table class="table  table-responsive ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Motorista</th>
                    <th scope="col">Endereço inicial</th>
                    <th scope="col">Inicio</th>
                    <th scope="col">Endereço final</th>
                    <th scope="col">Fim</th>
                    <th scope="col">Carro</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="first-row" data-label="Motorista">{{trip.userNickname}}</td>
                    <td data-label="Endereço Inicial">{{trip.initialAddress}}</td>
                    <td data-label="Saída">{{trip.initialTime}}</td>
                    <td data-label="Endereço Final" >
                        <a href=[{{mapsLink}} target="_blank">
                        {{trip.endAddress}}
                        </a>
                    </td>
                    <td data-label="Chegada">{{trip.endTime}}</td>
                    <td data-label="Carro">{{carTrip.name}}</td>
                </tr>
            </tbody>
        </table>



{% endblock %}